:root { 
--green_300:#8be48b; 
--white_A700_b2:#ffffffb2; 
--gray_50_01:#f8f9fa; 
--gray_50_02:#f5f9ff; 
--gray_50_03:#f4f8ff; 
--black_900_b2:#000000b2; 
--gray_50_04:#fffcf3; 
--gray_50_05:#fafcff; 
--light_blue_A100:#67d7fd; 
--light_blue_100:#b0e5fc; 
--red_200:#fa9a9a; 
--blue_A200:#4d90ff; 
--green_900:#236823; 
--gray_800_01:#3c4043; 
--green_700:#398f3e; 
--green_A100:#b5eacd; 
--black_900_3f:#0000003f; 
--gray_300_99:#e4e4e499; 
--black_900_01:#090b0d; 
--light_blue_A700:#0086ed; 
--blue_gray_900_02:#333438; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#24363c; 
--blue_gray_900:#262b35; 
--black_900_02:#130e00; 
--deep_orange_100:#fec1c1; 
--gray_400:#b3b3b3; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--white_A700_0c:#ffffff0c; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--red_A200:#fe555d; 
--gray_800:#434041; 
--blue_gray_500:#747c89; 
--black_900_0c:#0000000c; 
--gray_200:#efefef; 
--black_900_0e:#0000000e; 
--blue_50:#e0ebff; 
--white_A700_66:#ffffff66; 
--blue_gray_100_6c:#d1d3d46c; 
--white_A700_67:#ffffff67; 
--green_600_02:#1ea84d; 
--green_600_01:#34a853; 
--blue_gray_400_01:#808191; 
--blue_gray_700_02:#535763; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
--indigo_800:#253b80; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#d6d5d5; 
--amber_500_01:#fbbc04; 
--light_blue_600:#179bd7; 
--red_500:#ea4335; 
--light_blue_400:#1ba9ff; 
--green_800:#29752b; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f9fbff; 
--blue_A700_02:#0065ff; 
--green_400:#65bc6a; 
--black_900:#000000; 
--blue_A200_01:#4285f4; 
--gray_500_01:#979797; 
--yellow_900:#f7931a; 
--black_900_29:#00000029; 
--blue_gray_800:#37334d; 
--blue_A700_7e:#0061ff7e; 
--gray_700_11:#55555511; 
--black_900_e4:#000000e4; 
--gray_900_02:#151522; 
--gray_900_03:#11142d; 
--blue_gray_200:#bac1ce; 
--gray_900_04:#09101d; 
--gray_500:#a6a6a6; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_600:#5f6c86; 
--orange_A700:#ff6700; 
--gray_900:#0d1624; 
--gray_900_01:#242424; 
--blue_600:#378fd3; 
--blue_gray_300_87:#919eab87; 
--blue_gray_900_7f:#3333337f; 
--white_A700_87:#ffffff87; 
--gray_700_26:#55555526; 
--blue_400:#3a96dd; 
--indigo_900:#222d65; 
--gray_800_2b:#4545452b; 
}